<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
	<welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
    <servlet>
        <servlet-name>FlightReservationServlet</servlet-name>
        <servlet-class>com.yuvi.servlet.FlightReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightReservationServlet</servlet-name>
        <url-pattern>/bookFlight</url-pattern>
    </servlet-mapping>
</web-app>
